<h1><input matInput placeholder="Kirjoita hakusana" [(ngModel)]="searchTerm"></h1>

<mat-accordion>
  <mat-expansion-panel *ngFor="let item of cinemaData$ | async | pipeName: searchTerm">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.Title}}
        {{item.PublishDate | date:"MM/dd/yy"}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{item.HTMLLead}}
    <div>
      <img src="{{item.ImageURL}}" width="500" height="300" align="right">
    </div>
  </mat-expansion-panel>
</mat-accordion>
